<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>注册BackMIR账户</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <script type="text/javascript" src="/js/jquery.js" ></script>
    </head>
    <body>
        <h1>1.申请秘钥</h1>
        <h6><font color="red">请填入您绑定的邮箱，后续的密码修改、找回均依赖于此</font></h6>
        <form data-type="getRegKeyAction" action="/ajax/regkey">
            <table>
            		<tr>
                		<td>邮箱</td><td><input type="text" name="reg_mail"></input></td>
                </tr>
                <tr>
                    <td><input type="submit" value="申请秘钥" style="width:100px;height:25px"></input></td>
                </tr>
            </table>
        </form>
        
        <h1>2.注册账户</h1>
        <h6><font color="red">密钥和邮箱为上一个步骤完成后自动填入</font></h6>
        <form data-type="regAccountAction" action="/ajax/register">
            <table>
            		<tr>
                		<td>邮箱</td><td><input type="text" readonly="true" name="reg_mail2"></input></td>
                </tr>
            		<tr>
                		<td>密钥</td><td><input type="text"  readonly="true" name="reg_key"></input></td>
                </tr>
                <tr>
                		<td>账户</td><td><input type="text" style="ime-mode:disabled" name="reg_account"></input></td>
                </tr>
                <tr>
                		<td>密码</td><td><input type="password" style="ime-mode:disabled" name="reg_password"></input></td>
                </tr>
                <tr>
                		<td>密码确认</td><td><input type="password" style="ime-mode:disabled" name="reg_password2"></input></td>
                </tr>
                <tr>
                    <td><input type="submit" value="注册账户" style="width:100px;height:25px"></input></td>
                </tr>
            </table>
        </form>
    </body>
    <script charset="utf-8" type="text/javascript" src="/js/base.js" ></script>
</html>